/*
el-tabls
*/ 
//任何元素会平均分配
.average {
	> .el-tabs__header {
	  > .el-tabs__nav-wrap {
		.el-tabs__nav-scroll {
		  display: flex;
		  .el-tabs__nav {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
  
			.el-tabs__active-bar {
			  height: 0px !important;
			}
			.el-tabs__item {
			  flex-shrink:0;
			  flex-basis:25%;
			  width: 100% !important;
			 
			  text-align: center;
				
			  &.is-active {
				background-color: #409eff;
				color: white;
			  }
			}
		  }
		}
	  }
	}
	> .el-tabs__content {
	  overflow: visible;
	}
  }

  //有最小的平均分配 超出带换行
  .shrink_warp {
	> .el-tabs__header {
	  > .el-tabs__nav-wrap {
		.el-tabs__nav-scroll {
		  display: flex;
		  .el-tabs__nav {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
  
			.el-tabs__active-bar {
			  height: 0px !important;
			}
			.el-tabs__item {
			  flex-shrink:0;
			  flex-basis:25%;
			  width: 100% !important;
			 
			  text-align: center;
				
			  &.is-active {
				background-color: #409eff;
				color: white;
			  }
			}
		  }
		}
	  }
	}
	> .el-tabs__content {
	  overflow: visible;
	}
  }
/*
el-scrollbar
*/ 
.el-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el-scrollbar__wrap {
  overflow: auto !important;
  overflow-x: hidden !important;
  max-height: 100%; /*防止页面切换时，滚动条高度不变的问题（滚动条高度非滚动条滚动高度）*/
  &.el-select-dropdown__wrap {
    max-height: 274px !important;
  }
}
