.el-aside {
  background-color: white;
}

.el-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el-scrollbar__wrap {
  overflow: auto !important;
  overflow-x: hidden !important;
  max-height: 100%; /*防止页面切换时，滚动条高度不变的问题（滚动条高度非滚动条滚动高度）*/
  &.el-select-dropdown__wrap {
    max-height: 274px !important;
  }
}

.vxe-modal--content .el-form .el-form-item__error {
  line-height: 0.4;
  height: 16px !important;
}

.el-button + .el-dropdown {
  margin-left: 10px;
}

.el-card + .el-card {
  margin-top: 15px;
}

.el-drawer__header {
  margin-bottom: 0px;
}
.el-drawer__body {
  padding: 20px;
}

.el-card {
  border: none;
}

.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
  color: #606266;
}

.vxe-modal--wrapper .vxe-modal--body .vxe-modal--content {
  padding: 20px 20px !important;
}

// .projectCard {
//   > .projectCardItem {
//     > .el-tabs__header {
//       background-color: #ecf5ff;
//       border-bottom: 1px solid #ecf5ff;
//       > .el-tabs__nav-wrap {
//         .el-tabs__nav-scroll {
//           display: flex;
//           // flex-wrap: wrap;
//           .el-tabs__nav {
//             // flex-shrink:1;
//             display: flex;
//             width: 100%;
//             .el-tabs__item {
//               width: 100% !important;
//               text-align: center;
//               font-size: 18px;
//               // color: #409eff;
//               &.is-active {
//                 background-color: #409eff;
//                 color: white;
//                 font-size: 22px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

//统计排行全局样式
// .income {
//   .top.seven1 {
//     justify-content: flex-start !important;
//     .item {
//       // flex: inherit;
//       // width: 22.5%;
//       margin: 20px 0px;
//     }
//   }
//   .top {
//     display: flex;
//     justify-content: space-around;
//     box-sizing: border-box;
//     flex-wrap: wrap;
//     // height: 150px;
//     .item {
//       // flex-shrink:0;
//       flex: 1;

//       margin: 20px;
//       // width: 350px !important;
//       height: 134px !important;
//       padding: 20px;
//       color: rgba(78, 89, 105, 1);
//       display: flex;
//       flex-direction: column;
//       justify-content: space-around;
//       // box-shadow: 0px 0px 2px 1px #409efe;
//       border-radius: 10px;
//       font-size: 14px;
//       // line-height: 2;
//       position: relative;

//       .itemImg {
//         position: absolute;
//         right: 21px;
//         top: 50%;
//         transform: translateY(-50%);
//       }

//       .title {
//         color: rgba(29, 37, 47, 1);
//         font-size: 16px;
//       }
//     }
//   }

//   .flex {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .box-card {
//       width: 49%;
//       height: 100%;
//       margin: 0px !important;
//     }
//   }

//   // .myrow ::v-deep {
//   //   .is-never-shadow {
//   //     .el-card__body {
//   //       padding: 0;
//   //     }
//   //   }
//   // }

//   .one {
//     background: linear-gradient(180deg, #f2f9fe 0%, #e6f4fe 100%);
//     border-radius: 4px 4px 4px 4px;
//   }

//   .two {
//     background: linear-gradient(180deg, #f5fef2 0%, #e6feee 100%);

//     border-radius: 4px 4px 4px 4px;
//   }

//   .three {
//     background: linear-gradient(180deg, #f6f7ff 0%, #ececff 100%);
//     border-radius: 4px 4px 4px 4px;
//   }

//   .five {
//     background: linear-gradient(180deg, #fcf6ec 0%, #fff3df 95%);
//     border-radius: 4px 4px 4px 4px;
//   }
//   .six {
//     background: linear-gradient(180deg, #fef0f0 0%, #ffe9e9 100%);
//     border-radius: 4px 4px 4px 4px;
//   }
//   .seven {
//     background: linear-gradient(180deg, #f5fef2 0%, #e6feee 100%);
//     border-radius: 4px 4px 4px 4px;
//   }
//   .el-card__header {
//     border: 0px;
//   }

//   .el-card__body {
//     padding: 0 20px;
//   }
// }
